/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
/* variables and mixins---*/
body {
  font-size: 62.5%;
  background-image: url(/less/images/overlay.png), url(/less/images/access-close-up-code-1.jpg);
  background-repeat: repeat, no-repeat;
  background-size: auto, 100% 100%;
  background-attachment: fixed;
  overflow-y: scroll;
}
header h1 {
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 2.5rem;
  color: gold;
}
header nav {
  text-align: center;
  font-size: 1.2rem;
  margin: 1rem;
}
header nav a {
  text-decoration: none;
  margin: 1rem;
  font-family: 'Akronim', cursive;
  color: gold;
  transition: all 0.7s ease-in-out;
}
header nav a:hover {
  border: 0.5rem dotted orangered;
  font-size: 1.5rem;
}
.container {
  width: 80rem;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: center;
}
.container .box1 {
  background-image: url(/less/images/overlay.png), url(/less/images/access-close-up-code-1.jpg);
  background-repeat: repeat, no-repeat;
  background-size: auto, 100% 100%;
  background-attachment: fixed;
  width: 50vh;
  height: 50vh;
  margin: 1.2rem;
  box-sizing: border-box;
  height: auto;
  color: azure;
  transition: all 0.7s ease-in-out;
}
.container .box1:hover {
  border: 0.3rem ridge gold;
  color: #ffde23;
  cursor: pointer;
  transform: translatey(-20px);
}
.container .box1 h2 {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  font-size: 1.7rem;
}
.container p {
  font-family: 'Gugi', cursive;
  padding: 1.5rem;
  font-size: 1rem;
}
.container address {
  padding: 1.5rem;
}
.container .box2 {
  background-image: url(/less/images/overlay.png), url(/less/images/access-close-up-code-1.jpg);
  background-repeat: repeat, no-repeat;
  background-size: auto, 100% 100%;
  background-attachment: fixed;
  width: 50vh;
  height: 50vh;
  margin: 1.2rem;
  box-sizing: border-box;
  transition: all 0.7s ease-in-out;
  height: auto;
  color: azure;
}
.container .box2:hover {
  border: 0.3rem ridge gold;
  color: #ffde23;
  cursor: pointer;
  transform: translatey(20px);
}
.container .box2 h2 {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  font-size: 1.7rem;
}
.container p {
  font-family: 'Gugi', cursive;
  padding: 1.5rem;
  font-size: 1rem;
}
.container .box3 {
  background-image: url(/less/images/overlay.png), url(/less/images/access-close-up-code-1.jpg);
  background-repeat: repeat, no-repeat;
  background-size: auto, 100% 100%;
  background-attachment: fixed;
  width: 50vh;
  height: 50vh;
  margin: 1.2rem;
  box-sizing: border-box;
  transition: all 0.7s ease-in-out;
  height: auto;
  color: azure;
}
.container .box3:hover {
  border: 0.3rem ridge gold;
  color: #ffde23;
  cursor: pointer;
  transform: translatey(-20px);
}
.container .box3 h2 {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  font-size: 1.7rem;
}
.container p {
  font-family: 'Gugi', cursive;
  padding: 1.5rem;
  font-size: 1rem;
}
.container .box4 {
  background-image: url(/less/images/overlay.png), url(/less/images/access-close-up-code-1.jpg);
  background-repeat: repeat, no-repeat;
  background-size: auto, 100% 100%;
  background-attachment: fixed;
  width: 50vh;
  height: 50vh;
  margin: 1.2rem;
  box-sizing: border-box;
  transition: all 0.7s ease-in-out;
  height: auto;
  color: azure;
}
.container .box4:hover {
  border: 0.3rem ridge gold;
  color: #ffde23;
  cursor: pointer;
  transform: translatey(20px);
}
.container .box4 h2 {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  font-size: 1.7rem;
}
.container p {
  font-family: 'Gugi', cursive;
  padding: 1.5rem;
  font-size: 1rem;
}
.container .box5 {
  background-image: url(/less/images/overlay.png), url(/less/images/access-close-up-code-1.jpg);
  background-repeat: repeat, no-repeat;
  background-size: auto, 100% 100%;
  background-attachment: fixed;
  width: 50vh;
  height: 50vh;
  margin: 1.2rem;
  box-sizing: border-box;
  transition: all 0.7s ease-in-out;
  height: auto;
  color: azure;
}
.container .box5:hover {
  border: 0.3rem ridge gold;
  color: #ffde23;
  cursor: pointer;
  transform: translatey(-20px);
}
.container .box5 h2 {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  font-size: 1.7rem;
}
.container .box5 h2 a {
  text-decoration: none;
  color: azure;
}
.container p {
  font-family: 'Gugi', cursive;
  padding: 1.5rem;
  font-size: 1rem;
}
.container .box6 {
  background-image: url(/less/images/overlay.png), url(/less/images/access-close-up-code-1.jpg);
  background-repeat: repeat, no-repeat;
  background-size: auto, 100% 100%;
  background-attachment: fixed;
  width: 50vh;
  height: 50vh;
  margin: 1.2rem;
  box-sizing: border-box;
  transition: all 0.7s ease-in-out;
  height: auto;
  color: azure;
}
.container .box6:hover {
  border: 0.3rem ridge gold;
  color: #ffde23;
  cursor: pointer;
  transform: translatey(20px);
}
.container .box6 h2 {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  font-size: 1.7rem;
}
.container p {
  font-family: 'Gugi', cursive;
  padding: 1.5rem;
  font-size: 1rem;
}
@media screen and (max-width: 799px) {
  .container {
    width: 100%;
  }
}
